@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:host {
  display: inline-block;
  font-weight: normal;
  font-size: var(--i-icon-size, 24px);
  font-family: var(--i-icon-font, 'Material Icons');
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

:host([spin]) {
  animation: rotate 1.4s linear infinite;
}

@keyframes rotate {

  to {
    transform: rotate(1turn);
  }
}
