$red-1: #ffebf1;
$red-2: #ffd5e2;
$red-3: #ffc0d1;
$red-4: #ffabc0;
$red-5: #ff96ad;
$red-6: #ff6f86;
$red-7: #ff4f63;
$red-8: #fc3645;
$red-9: #f5222d;
$red-10: #e3131a;
$red-11: #bc080d;
$red-12: #800204;
$red-13: #4d0001;
$yellow-1: #fff8eb;
$yellow-2: #fff2d4;
$yellow-3: #feedbe;
$yellow-4: #fee9a8;
$yellow-5: #fde793;
$yellow-6: #fbe56c;
$yellow-7: #f8e54d;
$yellow-8: #f4e533;
$yellow-9: #ece220;
$yellow-10: #dcd612;
$yellow-11: #b7b508;
$yellow-12: #7e7d02;
$yellow-13: #4d4d00;
$green-1: #f1ffeb;
$green-2: #e1ffd4;
$green-3: #cffebe;
$green-4: #bdfea8;
$green-5: #a9fd93;
$green-6: #83fb6c;
$green-7: #60f84d;
$green-8: #42f433;
$green-9: #2aec20;
$green-10: #18dc12;
$green-11: #0ab708;
$green-12: #037e02;
$green-13: #004d00;
$cyan-1: #ebfff8;
$cyan-2: #d4fff2;
$cyan-3: #befeed;
$cyan-4: #a8fee9;
$cyan-5: #93fde7;
$cyan-6: #6cfbe5;
$cyan-7: #4df8e5;
$cyan-8: #33f4e5;
$cyan-9: #20ece2;
$cyan-10: #12dcd6;
$cyan-11: #08b7b5;
$cyan-12: #027e7d;
$cyan-13: #004d4d;
$blue-1: #ebf1ff;
$blue-2: #d4e1ff;
$blue-3: #becffe;
$blue-4: #a8bdfe;
$blue-5: #93a9fd;
$blue-6: #6c83fb;
$blue-7: #4d60f8;
$blue-8: #3342f4;
$blue-9: #202aec;
$blue-10: #1218dc;
$blue-11: #080ab7;
$blue-12: #02037e;
$blue-13: #00004d;
$purple-1: #f8ebff;
$purple-2: #f2d4ff;
$purple-3: #edbefe;
$purple-4: #e9a8fe;
$purple-5: #e793fd;
$purple-6: #e56cfb;
$purple-7: #e54df8;
$purple-8: #e533f4;
$purple-9: #e220ec;
$purple-10: #d612dc;
$purple-11: #b508b7;
$purple-12: #7d027e;
$purple-13: #4d004d;
$white: #fff;
$gray-1: #f8f9fa;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #6c757d;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;
$black: #000;

/* state */
$primary: $blue-9;
$secondary: $gray-6;
$success: $green-9;
$info: $cyan-9;
$warning: $yellow-9;
$danger: $red-9;

$primary-lighter: $blue-8;
$secondary-lighter: $gray-5;
$success-lighter: $green-8;
$info-lighter: $cyan-8;
$warning-lighter: $yellow-8;
$danger-lighter: $red-8;

$primary-darker: $blue-10;
$secondary-darker: $gray-10;
$success-darker: $green-10;
$info-darker: $cyan-10;
$warning-darker: $yellow-10;
$danger-darker: $red-10;

$light: $gray-1;
$dark: $gray-9;

$types: "primary",
  "secondary",
  "success",
  "info",
  "warning",
  "danger";
